<a href="https://colab.research.google.com/github/shivamm007/Analytical-Study-/blob/main/worldcup_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The FIFA World Cup is a global football competition contested by the various football-playing nations of the world. It is contested every four years and is the most prestigious and important trophy in the sport of football.

The World Cups dataset show all information about all the World Cups in the history, while the World Cup Matches dataset shows all the results from the matches contested as part of the cups.

In [4]:
import pandas as pd
matches_df = pd.read_csv('/content/WorldCupMatches.csv')
players_df = pd.read_csv('/content/WorldCupPlayers.csv')
worldcups_df = pd.read_csv('/content/WorldCups.csv')

year : The year in which the match was played.
Datetime : The date at which match was played along with 24 hrs date format.
Stage : The stage at which the match was played.
Stadium : Satdium name where the match was held.
city : The city name where the match was played.
Home team name : Home team country name.
Home team gaol : Total goals scored by the home team by the end of the match.
Away Team Goals : Total goals scored by the away team by the end of the match.
Away Team Name : Away team country name.
Win conditions : Special win condition (if any)
Attendance : Total crowd present at the satdium
Half-time Home Goals : Goals scored by the home team until half time
Half-time Away Goals : Goals scored by the away team until half time
Referee : Name of the first refree
Assistant 1 : Name of the first assistant referee (linesman)
Assistant 2 : Name of the second assistant referee (linesman)
RoundID : Unique ID of the Round
MatchID : Unique ID of the match
Home Team Initials : Home team country's three letter initials
Away Team Initials : Away team country's three letter initials

In [7]:
matches_df.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

RoundID : Unique ID of the round
MatchID : Unique ID of the match
Team Initials : Player's team initials
Coach Name : Name and country of the team coach
Line-up : S=Line-up, N=Substitute
Shirt Number : Shirt number if available
Player Name : Name of the player
Position: C=Captain, GK=Goalkeeper
Event : G=Goal, OG=Own Goal, Y=Yellow Card, R=Red Card, SY = Red Card by second yellow, P=Penalty, MP=Missed Penalty, I = Substitution In, O=Substitute Out

In [8]:
players_df.head()

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
4,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN

Year : Year of the worldcup
Country : Country of the worldcup
Winner : Team who won the worldcup
Runners-Up : Team who was the second place
Third : Team who was the third place
Fourth : Team who was the fourth place
GoalsScored : Total goals scored in the worldcup
QualifiedTeams : Total participating teams
MatchesPlayed : Total matches played in the cup
Attendance : Total attendance of the worldcup

In [9]:
worldcups_df.head()

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607